{{extend 'layout.html'}}
<h1>This is the shop/have_user.html template</h1>

<div style="display: flex;">
    <h5 style="padding: 10px;">
        <a class="btn-primary" style="padding: 10px; border-radius: 10px;" href="{{=URL('demo','shop','view')}}">Return to Home Web</a>
    </h5>
    {{if has_membership:}}
        <h5 style="padding: 10px;">
            <a class="btn-success" style="padding: 10px; border-radius: 10px;" href="{{=URL('demo','user_shop','view')}}">Show List User</a>
        </h5>
    {{pass}}
</div>

<table class="table">
    <th>
        <td><b>Item Name</b></td>
        <td><b>Info</b></td>
        <td><b>Locate</b></td>
        <td><b>Date Post</b></td>
        <td><b>Name</b></td>
        <td><b>Full Name User</b></td>
    </th>
    {{for x in rows: }}
    <tr>
        <td>{{=x[0]}}</td>
        <td>{{=x[1]}}</td>
        <td>{{=x[2]}}</td>
        <td>{{=x[3]}}</td>
        <td>{{=x[4]}}</td>
        <td>{{=x[5]}}</td>
        <td>{{=user_dict[x[6]]}}</td>
    </tr>
    {{pass}}
</table>
