{{extend 'layout.html'}}
<head>
    <script src="{{=URL('static', 'js/more.js')}}"></script>
</head>
<body>
    {{=button}}
    <div class="container">
        <div class="row justify-content-center">
        </div>
        {{ for x in rows: }}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <img class='img-fluid' style="height: 200px; width: 200px;" src='{{=x.shop_img}}' alt="shop_img" />
                    </div>
                    <div class="col-lg-8">
                        <p class="lead">
                            <b><a href="{{=x.shop_url}}" target="_new"> {{=x.shop_item}}</a></b>
                        </p>
                        <p>
                            <b>Category:</b>
                            {{=x.shop_category}}
                        </p>
                        <p>
                            <b>Info:</b>
                            {{=x.shop_info}}
                        </p>
                        <p>
                            <b>Locate:</b>
                            {{=x.shop_locate}}
                        </p>
                        <p>
                            <b>In stocsk:</b>
                            {{=x.num}}
                        </p>
                        <p>
                            <form action="{{=URL('web2py_shop', 'carts','post')}}" method="post">
                                <button type="button" onclick="changeQuantity(-1)">-</button>
                                <input type="number" name="quantity" min="1" max="{{=x.num}}" value="1" id="quantity{{=x.id}}">
                                <button type="button" onclick="changeQuantity(1)">+</button>
                                
                                <input type="hidden" name="shop_id" value="{{=x.id}}">
                                <input type="hidden" name="purchase" value="0">
                                <div style="display: flex;">
                                    <button type="submit" class="btn-danger" {{if x.num ==0:}} disabled style="opacity:20%;" {{pass}}>Add to Cart</button>
                                    <button type="button" class="btn-warning" onclick="purchase_action(event)" {{if x.num ==0:}} disabled style="opacity:20%;"{{pass}}>Purchase</button>                                </div>
                            </form>
                        </p>
                        <p>
                            <b>Date post:</b>
                            {{=x.shop_date_post}}
                        </p>
                        {{if x.created_by:}}
                            <p>
                                <b>Who Post:</b>
                                {{=user_dict[x.created_by]}}
                            </p>
                        {{pass}}
                        
                    </div>
                </div>
            </div>
        </div>
        {{pass}}
    </div>
</body>